<div><center><p><p><span style="color:#6699cc"><span style="font-size:24px"><strong><span style="background-color:#ffffff">CCBS 2.0 測試個案管理系統</span></strong></span></span></p></p>


<table border="1" cellpadding="1" cellspacing="1" style="width:850px">
		<tr>
			<th scope="col" style="background-color:#6699cc;"><a href="#"><font color=#FFFFFF>查詢可執行之AD</font></a></th>
			<th scope="col" style="background-color:#6699cc;"><a href="#"><font color=#FFFFFF>測試個案查詢</font></a></th>
			<th scope="col" style="background-color:#6699cc;"><a href="#"><font color=#FFFFFF>執行順序查詢</font></a></th>				
		</tr>
		</table>
</center></div>

<p></p><p></p><p></p><p></p>

<p></p>

<div><center><p><p><span style="color:#000000"><span style="font-size:18px"><strong><span style="background-color:#ffffff">請點選要使用的功能項</span></strong></span></span></p></p>


<p>&nbsp;</p>
